html
    head 
        meta(charset="urf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Los mejores instrumentos del pais
        meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="/socket.io/socket.io.js")
        script(src="../main.js")
    body
        h1 MusicMusic.com
        include components/listaProductos
    